<div class="container">
  <div class="container__wrapper">
    <div class="container__wrapper__buttons-header">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <mat-form-field style="height: 15px;">
      <mat-label>Elige una opción</mat-label>
      <mat-select [value]="selectedOption"  (selectionChange)="onSelectionChange($event.value)">
        <mat-option>{{''}}</mat-option>
        <mat-option  *ngFor="let poc of pocs" [value]="poc.value">{{poc.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="container__wrapper__content">
      <div class="bocadillo-derecha">
        <p>{{message}}</p>
      </div>
      <div class="user">
        <img src="../../assets/empleados.png" alt="" style="width: 40px; height: 40px;">
      </div>

      <!-- AÑADE LAS REFERENCIAS AL FINAL DEL TEXTO PRINCIPAL Y LAS HACE CLICABLES -->
      <div class="bocadillo-izq"  >
        <ng-container *ngFor="let segmentosParrafo of referenciasEncontradas">
    <p>
      <ng-container *ngFor="let segmento of segmentosParrafo">
        <ng-container *ngIf="segmento.tipo === 'texto'">{{ segmento.contenido }}</ng-container>
        <ng-container *ngIf="segmento.tipo === 'referencia'">
          <button mat-icon-button (click)="openDocDialog(segmento.contenido)">
            {{ segmento.contenido }}
          </button>
        </ng-container>
      </ng-container>
    </p>
  </ng-container>
      </div>
      <div class="bot">
        <img src="../../assets/robotica.png" style="width: 40px; height: 40px;">
      </div>
      <div class="message">
        <img src="../../assets/cara-feliz.png" style="width: 3%;" >
        <input  type="text" style="width: 90%;border-radius: 5px;height: 30px;" >
        <button mat-icon-button (click)="processMessage(responseMessage)">
         <img src = "../../assets/arrow-green.png" alt="" style="width: 40px; height: 40px;">
        </button>
      </div>
    </div>
    <div class="div">
      <p>{{this.responseData.result.answer}}</p>
    </div>
  </div>
</div>
