<div class="container">
  <div class="container__wrapper">
      <div class="container__wrapper__buttons-header">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <mat-form-field>
        <mat-label>Elige una opción</mat-label>
        <mat-select [value]="selectedOption" (selectionChange)="onSelectionChange($event.value)">
          <mat-option>{{''}}</mat-option>
          <mat-option *ngFor="let poc of pocs" [value]="poc.value">{{poc.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
        <div class="container__wrapper__content">
          <div class="tipo">
            <h2>TIPO</h2>
            <h2>RESULTADO</h2>
          </div>
          <div class="desplegable">
            <mat-form-field class="mi-form-field" >
              <mat-label>Selecciona una opción</mat-label>
              <mat-select [value]="selectedTipo" (selectionChange)="onSelectionTipo($event.value)" >
                <mat-option>Ninguna</mat-option>
                <mat-option  *ngFor="let tipo of tipos" [value]="tipo.value">{{tipo.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p>You selected: {{selectedTipo}}</p> -->
            <div class="textoDerecha">
              <pre>RESPUESTA JSON:{{ responseMessage | json }}</pre>
            </div>

          </div>
          <div class="archivo">
            <div class="elegirArchivo">
              <h2>ARCHIVO</h2>
              <input type="file" class="input-file" multiple (change)="onFileChange($event)" accept=".pdf" required>
            </div>
            <div class="textoDerecha">

            </div>
          </div>
          <div class="procesar">
            <button mat-raised-button color="primary"(click)="prueba()" >jsonPrueba </button>
            <button mat-raised-button color="primary" (click)="processMessageResolucion(responseMessage)" >Procesar Documento</button>
            <!-- <p>{{jsonResponse.articulo}}</p> -->
          </div>

        </div>
  </div>
</div>
